# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# create app in google cloud so you can use the login via google button in the frontend
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# create 0Auth app in github and get client id and secret, so you can used the login using github button in the frontend
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# to use a Postgres database
DATABASE_URL=

# to store users avatar images
CLOUDINARY_URL=